body {
  background-color: red;
}

.header-dropdown {
  height: 50px;
  background-color: transparent;
  border: none;

  .bx--list-box__label {
    color: #ffffff;
    line-height: 50px;
  }
  .bx--list-box__menu-icon > svg {
    fill: white;
  }
}
