@import "./mixins.scss";

.doc_info {
  padding: $spacing-02 0 $spacing-02 0;
  margin-bottom: $spacing-06;
  @include document-title-background;
  @include document-title-bottom-border;
}

.main-page__doc-title-header {
  h1 {
    @include carbon--type-style("productive-heading-04");
  }
  h6 {
    @include carbon--type-style("body-short-02");
    line-height: 22px;
  }
  padding-top: $spacing-02;
  padding-left: $layout-05;
}

.update-profile-info {
  padding-top: $spacing-02;
  //padding-left: $layout-05;
}

.profile-tabs {
  margin-top: $spacing-03;
}

.update-profile-info {
  h6 {
    margin-right: $spacing-06;
  }
}

.categories__tab-content {
  margin-top: $spacing-08;
}

// .nested-tabs {
//   margin-left: -$spacing-09 * 2;
// }
