@import "./mixins.scss";

.bx--breadcrumb-item {
  margin-left: 8px;
  margin-right: 8px;
}

/* .bx--breadcrumb-item {
  position: fixed;
  padding: 5px 0 0 5px;
  top: 20;
  left: 20;
  right: 20;
}
 */
.main-page__breadcrumbs {
  padding-top: $spacing-01;
  padding-bottom: $spacing-01;
  @include breadcrumb-background;
}

.main-page__tabs {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: -8px;
  margin-top: 12px;
}
