@mixin breadcrumb-background() {
  background-color: $ui-01;
  position: relative;

  &::before {
    //appends parent => parent::before which is the standard use of ::before
    content: "";
    position: absolute;
    left: -$spacing-09;
    top: 0;
    right: -$spacing-05;
    bottom: 0;
    background: $ui-01;
    z-index: -1;
  }
}
